html {
  font-size: 14px;
  font-palette:light;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body, header {
  margin-bottom: 60px;
  background-color:darkorchid;
}
p, h1, a, ul, li, .container{
    color:darkkhaki;
}

.test{
    display:grid;
    width:250px; height:250px;
    border-radius:10px;
    background-color:black; 
}